Source: openpanel-mod-spamassassin
Section: misc
Priority: optional
Maintainer: OpenPanel packager <packages@openpanel.com>
Build-Depends: debhelper (>= 5), openpanel-dev
Standards-Version: 3.7.2

Package: openpanel-mod-spamassassin
Architecture: any
Depends: spamassassin, openpanel-mod-postfixcourier, openpanel-core, python-openpanel, ${shlibs:Depends}, ${misc:Depends}
Description: OpenPanel module to manage SpamAssassin
 Openpanel SpamAssassin management module
